<div class="wrapper">
  <div>
    <%= link_to "New game", new_game_path, class: "btn btn-primary" %>
    <%= link_to "See All Cars", cars_path, class: "btn btn-primary" %>
    <div class="notice_main_page"> <%= notice %></div>
  </div>
</div>
