/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .dark-primary-color    { background: #5D4037; }
 .default-primary-color { background: #795548; }
 .light-primary-color   { background: #D7CCC8; }
 .text-primary-color    { color: #FFFFFF; }
 .accent-color          { background: #448AFF; }
 .primary-text-color    { color: #212121; }
 .secondary-text-color  { color: #757575; }
 .divider-color         { border-color: #BDBDBD; }


.container {
   margin: 0 auto;
}



html {
    background-image: linear-gradient(45deg, #448AFF, #4F364C);
    /*background-image: url('main_background2.png');*/
    font-family:'Roboto';
}
body {
  background-color: transparent;

}

body .container{
  width:980px;

}

body .center_of_application{
  background-color: rgba(255,250,250, 0.5);
}

a:link {
  color: #212121;
}
a:visited {
  color: black;
}
a:hover {
  color: #CCCCCC;
}
a:active {
  color: #333333;
}

#top_left {
  margin-left: 100px;
}
.card-title {
  background: white;
  padding-left: 20px;
  padding-top: 10px;
  margin: 10px;
}

.card-text {
  margin-top: 5px;
}

.title_near_icon {
  padding-left: 20px;
}

.card {
  /*width:260px;

  margin:8px;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 15px 57px -19px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;*/
  background: white;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  height: 290px;

}
.answers {
  height: 375px;
}
.answer_text {
  padding-left: 3px;
  margin-left: 3px;
  padding-bottom: 20px;
}
.card img{
  /*height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;*/
}

.card-text {
  padding-left: 30px;
}
.card h1
{
  /*font-size: 25px;
  font-weight: 300px;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);*/
}

.card h2
{
  /*font-weight:100;
  margin:20px 0 0 20px;
  font-style:italic;
   transform: translateX(200px);*/
}

.animate-text
{
  /*margin-top: 3px;
  opacity:0;
  transition: all 0.6s ease-in-out;*/
}

.card:hover
{
/*   background-color:#99aeff; */
/*box-shadow: 0px 25px 67px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);*/
}

.card:hover img
{
  /*opacity: 0.2;*/
}
.card:hover .animate-text
{
  /*transform:translateX(0);
  opacity:1;*/
}

.wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper_list_of_cars {
  color: #FFFFFF;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_title {
  font-weight: 800;
  font-size: 80px;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('main_background.png');
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 25px 67px -17px rgba(0,0,0,0.64);
}

.wrapper_title_small {
  color: #FFFFFF;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#background_title {
  background: -webkit-linear-gradient(#ebece7, rgba(255,250,250, 0.6));
  background: linear-gradient(#ebece7, rgba(255,250,250, 0.8));
}
.btn-primary {
  background-color: #5D4037;
  font-size: 20px;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.notice_main_page {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 40px;
  /*border: 1px solid white;
  background-color: rgba(255,250,250, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/

}

.car_image {
  box-shadow: 0px 16px 47px -5px rgba(0,0,0,0.64);
}

#hamburger {
  z-index: 10;
  position: fixed;
  background-color: #448AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
}

#hamburger_cars{
  z-index: 10;
  position: fixed;
  background-color: #448AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20%;
  right: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
}

#hamburger_user {
  z-index: 10;
  position: fixed;
  background-color: #448AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 30%;
  right: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
}

#hamburger_new_car {
  z-index: 10;
  position: fixed;
  background-color: #448AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  left: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
}

#hamburger_update_car {
  z-index: 10;
  position: fixed;
  background-color: #448AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20%;
  left: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
}
#hamburger_delete_car {
  z-index: 10;
  position: fixed;
  background-color: #448AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 30%;
  left: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
}

.level_button {
    background:#aaa;
    color:#fff;
    border-radius:8px;
    padding:1em;
    margin:1em;
    cursor:pointer;
}

.level_button:hover {
    background:#ccc;
}

.answer_button {
    width: 90%;
    height: 30px;
    background: white;
    color:#5D4037;
    padding-top: 5px;


    cursor:pointer;
}

.answer_button:hover {
    background:#ccc;
}

.cover_answer_lvl_2 {
  width: 260;
  height: 180;
  margin-left: 60px;
  margin-top: 50px;
  position: absolute;
  background-color: black;
  border: 45px solid #BDBDBD;
  border-radius: 10px;
  opacity: 0.99;
}

.cover_answer_lvl_3 {
  width: 260;
  height: 180;
  margin-left: 60px;
  margin-top: 55px;
  position: absolute;
  background-color: black;
  border: 65px solid #BDBDBD;
  border-radius: 10px;
  opacity: 0.99;
}

.notice {
  font-size: 30px;
  color: white;
}

.user_games {
  margin: 10px;
  padding: 4px;
}
.user_games th {
  color: white;
  padding: 4px;
}

.user_games td {
  color: white;
  padding: 6px;
  margin-left: 10px;
}
